{{ "<!--2018 Teaser -->" | safeHTML }}
<section id="teaser">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><a href="http://rebelcon.io" target="_blank">RebelCon is back in 2018!</a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 speakers-temp">
                <div class="teaser-dates">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    June 21st &amp; 22nd 2018
                </div>
                <div class="teaser-venue">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Clayton Hotel Cork City Center
                </div>
                <div class="teaser-link">
                    More details on <a href="http://rebelcon.io" target="_blank">rebelcon.io</a>
                </div>
            </div>
        </div>
    </div>
</section>
