{{ "<!-- Location Section -->" | safeHTML }}
<section class="location" id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.location.title }}{{.}}{{ end }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="place">{{ with .Site.Params.location.place }}{{.}}{{ end }}</div>
                <div class="address">{{ with .Site.Params.location.address }}{{.}}{{ end }}</div>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <script>
      function initMap() {
        var repOfWorkLocation = {lat: 51.897096, lng: -8.469682};
        var repOfWorkPlaceId = 'ChIJVWLGVwWQREgRryEiwrFcW2w';

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: repOfWorkLocation,
          scrollwheel: false
        });

        var infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);

        service.getDetails({
          placeId: repOfWorkPlaceId
        }, function(place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            var marker = new google.maps.Marker({
              map: map,
              position: place.geometry.location
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + place.formatted_address + '</div>');
              infowindow.open(map, this);
            });
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYbkXUJP9B9Svzh2tggTMAT7LEe9X2bNU&libraries=places&callback=initMap">
    </script>
</div>
</section>
