{{ "<!-- Speakers Modals -->" | safeHTML }}
{{ range .Site.Data.speakers }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        

                        <div class="speaker-talk-title">
                            {{ .talkTitle }}
                            {{ if .lightningTalk }}
                                <br/><span class="speaker-lightning-talk">[Lightning talk]</small>
                            {{ end }}
                        </div>
                                              

                        <img src="img/speakers/{{ .img }}" class="img-responsive img-centered speaker-modal-image" alt="">

                        <h2>{{ .name }}</h2>
                        <div class="speaker-title">{{ .title }}</div>

                        <div class="speaker-bio">{{ .description | markdownify }}</div>

                        {{ if .twitter }}
                        <div class="speaker-twitter">
                            <a href="http://twitter.com/{{ .twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @{{ .twitter }}</a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
