{{ "<!-- Schedule Section -->" | safeHTML }}
<section class="schedule" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.schedule.title }}{{.}}{{ end }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                <table class="schedule-table" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                        <th></th>
                        <th class="schedule-green">Green Room</th>
                        <th class="schedule-blue">Blue Room</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="schedule-time">08:15</td>
                            <td class="schedule-double" colspan="2">Registration &amp; Coffee</td>
                        </tr>
                        <tr>
                            <td class="schedule-time">09:00</td>
                            <td class="schedule-double schedule-green" colspan="2">
                                <div class="schedule-title">Keynote - Shifting Gears and reaching for your potential</div>
                                <div class="schedule-speaker">Ryan O’Reilly</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">09:45</td>
                            <td class="schedule-double" colspan="2">
                                Morning Tea
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">10:00</td>
                            <td class="schedule-green">
                                <div class="schedule-title">Monitoring: How to increase visibility of distributed systems in production</div>
                                <div class="schedule-speaker">Pierre Vincent</div>
                            </td>
                            <td class="schedule-blue">
                                <div class="schedule-title">Continuous Delivery - Death of Big Bang Stress</div>
                                <div class="schedule-speaker">Mary O'Donovan</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">10:50</td>
                            <td class="schedule-double" colspan="2">
                                Changeover
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">11:00</td>
                            <td class="schedule-green">
                                <div class="schedule-title">Communication: earning or burning money!</div>
                                <div class="schedule-speaker">Sabine Wojcieszak</div>
                            </td>
                            <td class="schedule-blue">
                                <div class="schedule-title">Solving Javascript Gripes with Elm</div>
                                <div class="schedule-speaker">David Lynam</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">11:50</td>
                            <td class="schedule-double" colspan="2">
                                Changeover
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">12:00</td>
                            <td class="schedule-green">
                                <div class="schedule-title">Introduction to event sourcing and CQRS</div>
                                <div class="schedule-speaker">Duncan Jones</div>
                            </td>
                            <td class="schedule-blue">
                                <div class="schedule-title">Using OWASP Tools to Build Secure Applications</div>
                                <div class="schedule-speaker">Fiona Collins</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">12:50</td>
                            <td class="schedule-double" colspan="2">
                                Lunch
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">13:45</td>
                            <td class="schedule-double schedule-green" colspan="2">
                                <div class="schedule-title">Lightening Talk Smackdown</div>
                                <div class="schedule-speaker">5 Lightning Talks, 50 minutes, 1 winner</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">14:35</td>
                            <td class="schedule-double" colspan="2">
                                Afternoon Tea
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">15:00</td>
                            <td class="schedule-green">
                                <div class="schedule-title">You build it, you run it</div>
                                <div class="schedule-speaker">Chris O'Dell</div>
                            </td>
                            <td class="schedule-blue">
                                <div class="schedule-title">Building a Platform that Handles as Many Requests as Amazon.com</div>
                                <div class="schedule-speaker">David Mills</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">15:50</td>
                            <td class="schedule-double" colspan="2">
                                Changeover
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">16:00</td>
                            <td class="schedule-green">
                                <div class="schedule-title">GKE (Kubernetes): The Arecibo Message for Developers</div>
                                <div class="schedule-speaker">David Gonzalez</div>
                            </td>
                            <td class="schedule-blue">
                                <div class="schedule-title">Building a bridge between design and development with UX Driven Development</div>
                                <div class="schedule-speaker">Jeremi Walewicz</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">16:50</td>
                            <td class="schedule-double" colspan="2">
                                Changeover
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">17:00</td>
                            <td class="schedule-double schedule-green" colspan="2">
                                <div class="schedule-title">Giveaways and wrap-up </div>
                                <div class="schedule-speaker">(need something to keep people there for the full day!)</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="schedule-time">
                                17:30<br>-<br>late
                            </td>
                            <td class="schedule-double" colspan="2">
                                <div class="schedule-title">Afterparty</div>
                                <div class="schedule-speaker">(we all bask in post conference glory!)</div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
