{{ "<!-- Sponsors Section -->" | safeHTML }}
<section class="info sponsors" id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.sponsors.title }}{{.}}{{ end }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 sponsor-image">
                <a href="https://www.poppulo.com" target="_blank"><img src="img/sponsors/poppulo-logo.png" width="250"></a>
            </div>
            <div class="col-lg-4 sponsor-image">
                <a href="https://www.designwizard.com" target="_blank"><img src="img/sponsors/design-wizard-logo.png" width="250"></a>
            </div>
            <div class="col-lg-4 sponsor-image">
                <a href="https://www.itcork.ie/skillnet-info" target="_blank"><img src="img/sponsors/skillnet-logo.png" width="250"></a>
            </div>
        </div>
    </div>
</section>
