<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
        <script src="https://use.fontawesome.com/514e69d1e8.js"></script>
    </head>
    <body id="page-top" class="index">

        {{ partial "nav.html" . }}

        {{ partial "header.html" . }}

        {{ partial "2018-teaser.html" . }}

        {{ partial "about.html" . }}

        {{ partial "speakers.html" . }}

        {{ partial "schedule.html" . }}

        <!-- {{ partial "location.html" . }} -->

        {{ partial "code-of-conduct.html" . }}

        {{ partial "sponsors.html" . }}

        {{ partial "modals.html" . }}
        
        {{ partial "js.html" . }}

    </body>
</html>
